.label_container {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--hr-neutral-0);
  color: var(--hr-neutral-90);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.5px;
  margin-left: var(--hr-spacing-03);
}
