//nexus.hackerrank.com/repository/hr-npm-group/:_authToken=NpmToken.c64a3eb1-e1c9-327e-897d-8835431c1f1f
email=hackerrank-developers@hackerrank.com
always-auth=true
registry=https://nexus.hackerrank.com/repository/hr-npm-group/
