.labelContainer {
  width: 200px;
  box-sizing: border-box;
  color: var(--hr-neutral-70);
  border: 1px solid var(--hr-neutral-10);
  box-shadow: 0px var(--hr-spacing-01) var(--hr-spacing-02) var(--hr-neutral-10);
  padding: 14px var(--hr-spacing-04) var(--hr-spacing-02);
}

.headerCount {
  border-top: 1px solid var(--hr-neutral-15);
}

.durationFilter {
  width: 35%;
}
