.tableWrapper {
  position: relative;
}

.tableSpinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff80;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  svg {
    position: absolute;
    top: 48%;
    left: 48%; // Don't use transform: translate(-50%, -50%)
  }
}
