.search_container {
  position: relative;

  & > img {
    position: absolute;
    top: 50%;
    left: var(--hr-spacing-06);
    transform: translateY(-50%);
  }

  & > div:last-child {
    & > input:first-child {
      padding-left: 60px;
      padding-right: var(--hr-spacing-09);
      height: 54px;
      border-radius: var(--hr-spacing-06);
      color: #232323;
      font-size: var(--hr-spacing-04);

      &::placeholder {
        color: #676767;
        font-size: var(--hr-spacing-04);
      }
    }

    & > div {
      svg {
        display: none;
      }
    }

    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: var(--hr-spacing-06);
      scale: 1.5;
      svg {
        path {
          stroke-width: 2;
        }
      }
    }
  }
}
