config
docker
src/**/*.fixture.js
public/*
dist
coverage

.actions/
cache/

.next/
devspace.yaml
chart/
jenkinsfiles/
yarn.lock
.docker*
.env.*
.gitignore
.nvmrc
.npmrc
.prettierignore
Dockerfile
.github/*
