.DS_Store
._.DS_Store
.vscode
.vs
dist
out
docker*
node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
__tests__
coverage
jest.config.js
.devspace
devspace.yaml
chart
jenkinsfiles
.env*
